::-webkit-scrollbar {
    display: none;
}

canvas{
    margin:10px;
}

.header{
    font-family: 'Pacifico', cursive;
    font-size:40px;
    text-align: center;
    margin:5px;
}

.score,
.lives{
    font-size:20px;
    text-align: center;
    margin:5px;
}

.characters,
.instructions,
.controls,
.points{
    font-family: 'Bangers', cursive;
    margin:20px;
}

.instructions,
.controls{
    margin-top:40px;
    margin-bottom:50px;
}

.instructions-text,
.controls-text{
    font-family: 'Pacifico', cursive;
    font-size:20px;
}

.controls img{
    width:80px;
    height:50px;
    margin-bottom:10px;
}

.characters img{
    cursor: pointer;
}

#container {
    text-align: center;
}
